In [ ]:
import pandas as pd

data = {
    "Name": ["John", "Anna", "Peter", "Linda"],
    "Age": [23, 45, 32, 25],
    "City": ["New York", "Paris", "Berlin", "London"],
}
df = pd.DataFrame(data)

In [ ]:
print (df)

    Name  Age      City
0   John   23  New York
1   Anna   45     Paris
2  Peter   32    Berlin
3  Linda   25    London